@mixin create-panels($list: ("blue" $brand-primary) ("green" $brand-success) ("yellow" $brand-warning) ("red", $brand-danger)) {
  @each $panel in $list {
    @include context-panel(nth($panel, 1), nth($panel, 2));
  }
}

@mixin context-panel($name, $colour) {
  .panel-#{$name} {
    @include box-shadow(2px 2px 2px 1px lighten($gray, 40%));
    border-color: $colour;
    .panel-heading {
      @include gradient-horizontal(darken($colour, 10%), $colour, 125px, 125px);
      cursor:pointer;
      border-color: $colour;
      color: lighten($colour, 40%);
      text-shadow: 1px 1px 1px darken($colour, 30%);
      //background-color: $colour;
    }
    a {
      color: $colour;
      &:hover {
        color: darken($colour, 15%);
      }
    }
  }
}

@mixin make-row-spacers($class) {
  @for $i from 1 through 4 {
    $spacer: $i * $row-spacer-increment;

    .spacer-#{$class}-#{$spacer} {
      margin-bottom:$spacer + px;
    }
  }
}