@mixin create-panels($list: ("blue" $brand-primary) ("green" $brand-success) ("yellow" $brand-warning) ("red", $brand-danger)) {
  @each $panel in $list {
    @include context-panel(nth($panel, 1), nth($panel, 2));
  }
}

@mixin context-panel($name, $colour) {
  .panel-#{$name} {
    box-shadow:1px 1px 5px 1px lighten($colour, 30%);
    border-color: $colour;
    .panel-heading {
      border-color: $colour;
      color: white;
      background-color: $colour;
    }
    a {
      color: $colour;
      &:hover {
        color: darken($colour, 15%);
      }
    }
  }
}

@mixin border-radius($radius) {
  @include border-bottom-radius($radius);
  @include border-top-radius($radius);
}

//== Card Mixins
// Card variants

@mixin card-variant($background, $border) {
  background-color: $background;
  border-color: $border;
}

@mixin card-outline-variant($color) {
  background-color: transparent;
  border-color: $color;
}

//
// Inverse text within a card for use with dark backgrounds
//

@mixin card-inverse {
  .card-header,
  .card-footer {
    border-bottom: $card-border-width solid rgba(255,255,255,.2);
  }
  .card-header,
  .card-footer,
  .card-title,
  .card-blockquote {
    color: #fff;
  }
  .card-link,
  .card-text,
  .card-blockquote > footer {
    color: rgba(255,255,255,.65);
  }
  //.card-link {
  //  @include hover-focus {
  //    color: $card-link-hover-color;
  //  }
  //}
}