@import "variables";

$sidebar-default-width:250px;
$default-bg:$navbar-default-bg;
$default-border:$navbar-default-border;
$fa-font-path: "../../fonts";

@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/font-awesome/scss/font-awesome";
@import "mixins";
@import "panels";
@import "sidebar";

html, body {
  height:100%;
}

body {
  background-color:$navbar-default-bg;
}

nav.navbar {
  // Remove left and right borders for sidebar alignments
  border-left:none;
  border-right:none;

  // Remove bottom margin for sidebar flush alignment
  margin-bottom:0;

  // Z-index added to allow visiblity above sidebar
  z-index:2;

  // We modify the brand to give it the same x dimensions as the sidebar
  // to align it and give a right border to match sidebar.
  .navbar-brand {

    @media(min-width:$grid-float-breakpoint) {
      width: $sidebar-default-width + 1;
      border-right: 1px solid $navbar-default-border;
    }
  }

  .navbar-top-links {
    margin-right:0;
  }
}

/**
 * Sidebar styling
 */

.content {
  padding:0 15px;
  border-left:1px solid $navbar-default-border;
  background-color:#fff;

  @media(min-width:$grid-float-breakpoint) {
    margin-left: $sidebar-default-width;
  }
}

/**
 * Contextual helper classes
 */
.huge {
  font-size: 40px;
}

.fa-va {
  vertical-align:middle;
}

/**
 * Layout helper classes
 */
.row.vertical-padding {
  padding-bottom:12px;
}