<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h1>Create a new user</h1>
        <hr />
    </div>
</div>


<form action="" method="post" class="form-horizontal" role="form">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <div class="form-group">
                <label for="name" class="col-sm-4 control-label">Name</label>
                <div class="col-sm-8">
                    <input type="text"
                           class="form-control"
                           id="name"
                           ng-model="createusers.user.name"
                           placeholder="Name">
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <div class="form-group">
                <label for="email" class="col-sm-4 control-label">Email</label>
                <div class="col-sm-8">
                    <input type="email"
                           class="form-control"
                           id="email"
                           ng-model="createusers.user.email"
                           placeholder="Email">
                </div>
            </div>

        </div>

    </div>

    <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

            <div class="form-group">
                <label for="password" class="col-sm-2 control-label">Password</label>
                <div class="col-sm-10">
                    <div class="input-group">
                        <input type="{{ createusers.passwordDisplay ? 'text' : 'password' }}"
                               class="form-control"
                               id="password"
                               ng-model="createusers.user.password"
                               placeholder="Password">
                        <div class="input-group-btn">
                            <button class="btn btn-default" ng-click="createusers.autogenerate()">
                                <i class="fa fa-plus visible-xs"></i>
                                <span class="hidden-xs">Auto generate</span>
                            </button>
                            <button class="btn btn-default" ng-click="createusers.showpassword()">
                                {{ createusers.passwordDisplay ? "Hide" : "Show" }} password
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="form-group">
                <label for="password-confirm" class="col-sm-2 control-label">Confirm Password</label>
                <div class="col-sm-10">
                    <input type="{{ createusers.passwordDisplay ? 'text' : 'password' }}"
                           class="form-control"
                           id="password-confirm"
                           ng-model="createusers.user.confirmPassword"
                           placeholder="Confirm Password">
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"
                                   ng-model="createusers.user.copyme"
                                   ng-disabled="createusers.user.noemail"> Copy email to myself.
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"
                                   ng-model="createusers.user.noemail"
                                   ng-click="createusers.uncheckCopyMe()"> Don't send confirmation email.
                        </label>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </div>
</form>
