<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h1>Create a new user</h1>
        <hr />
    </div>
</div>

<div class="row">
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xs-offset-2">
        <form action="" method="post" class="form-horizontal" role="form">

            <div class="form-group">
                <label for="firstname" class="col-sm-2 control-label">First name</label>
                <div class="col-sm-10">
                    <input type="text"
                           class="form-control"
                           id="firstname"
                           ng-model="createusers.user.firstname"
                           placeholder="Firstname">
                </div>
            </div>

            <div class="form-group">
                <label for="lastname" class="col-sm-2 control-label">Last name</label>
                <div class="col-sm-10">
                    <input type="text"
                           class="form-control"
                           id="lastname"
                           ng-model="createusers.user.lastname"
                           placeholder="Lastname">
                </div>
            </div>

            <div class="form-group">
                <label for="email" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                    <input type="email"
                           class="form-control"
                           id="email"
                           ng-model="createusers.user.email"
                           placeholder="Email">
                </div>
            </div>

            <div class="form-group">
                <div class="btn-group col-sm-10 col-sm-offset-2">
                    <a class="btn btn-default btn-sm" ng-click="createusers.autogenerate()">Auto generate</a>
                    <a class="btn btn-default btn-sm" ng-click="createusers.showpassword()">
                        {{ createusers.passwordDisplay ? "Hide" : "Show" }} password
                    </a>
                </div>
            </div>

            <div class="form-group">
                <label for="password" class="col-sm-2 control-label">Password</label>
                <div class="col-sm-10">
                    <input type="{{ createusers.passwordDisplay ? 'text' : 'password' }}"
                           class="form-control"
                           id="password"
                           ng-model="createusers.user.password"
                           placeholder="Password">
                </div>
            </div>

            <div class="form-group">
                <label for="password-confirm" class="col-sm-2 control-label">Confirm Password</label>
                <div class="col-sm-10">
                    <input type="{{ createusers.passwordDisplay ? 'text' : 'password' }}"
                           class="form-control"
                           id="password-confirm"
                           ng-model="createusers.user.confirmPassword"
                           placeholder="Confirm Password">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"
                                   ng-model="createusers.user.copyme"
                                   ng-disabled="createusers.user.noemail"> Copy email to myself.
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"
                                   ng-model="createusers.user.noemail"
                                   ng-click="createusers.uncheckCopyMe()"> Don't send confirmation email.
                        </label>
                    </div>
                </div>
            </div>


            <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
