<nav class="navbar navbar-default navbar-static-top" role="navigation">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" ng-click="navbar.isCollapsed = !navbar.isCollapsed">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="#">Boilerplate</a>
	</div>

    <ul class="nav navbar-top-links navbar-right">
        <li class="dropdown" uib-dropdown>
            <a href="#" class="dropdown-toggle" uib-dropdown-toggle><i class="fa fa-cog fa-lg"></i></b></a>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                <li><a ui-sref="base.users"><i class="fa fa-users fa-fw"></i>&nbsp; User management</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/logout" target="_self"><i class="fa fa-times fa-fw"></i>&nbsp; Logout</a></li>
            </ul>
        </li>
    </ul>

	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse" uib-collapse="navbar.isCollapsed">
		<ul class="navbar-default sidebar">
			<li class="sidebar-search">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Search">
            <span class="input-group-btn">
                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
            </span>
				</div>
			</li>
			<li ng-repeat="link in navbar.links" ui-sref-active="active">
				<a ui-sref="{{ link.sref }}" href="#">
					<i class="fa {{ link.icon }}"></i>
					<span class="hidden-xs">&nbsp;{{ link.title }}</span>
				</a>
			</li>
		</ul>
	</div><!-- /.navbar-collapse -->
</nav>